services:

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.15.2
    container_name: elasticsearch
    ports:
      - "9200:9200"
    volumes:
      - ./es_data:/usr/share/elasticsearch/data/
    environment:
      - discovery.type=single-node
      - http.host=0.0.0.0
      - transport.host=0.0.0.0
      - xpack.security.enabled=false
      
      - cluster.name=elasticsearch
      - bootstrap.memory_lock=true
   

  kibana:
    image: docker.elastic.co/kibana/kibana:8.15.2
    container_name: kibana
    ports:
      - "5601:5601"
    volumes:
      - ./kb_data:/usr/share/kibana/data
    depends_on:
      - elasticsearch

volumes:
  es_data:
  kb_data: